<!--  Include de head -->
<%- include("../partials/head.ejs") %>
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  </style>
  <script>
    function incrementValue() {
      let value = parseInt(document.getElementById("number").value, 10);
      value = isNaN(value) ? 0 : value;
      if (value < 100) {
        value++;
        document.getElementById("number").value = value;
      }
    }
    function decrementValue() {
      let value = parseInt(document.getElementById("number").value, 10);
      value = isNaN(value) ? 0 : value;
      if (value > 1) {
        value--;
        document.getElementById("number").value = value;
      }
    }
  </script>
  </>
    <body>
        <%- include("../partials/header.ejs") %>
        <main class="cartMain">
            <h2>Revisa tu carrito</h2>
            <div class="cartProduct">
              <img src="/images/product.png" alt="" />
              <div class="cartProductDetail">
                <h3>TITLE</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos,
                  consectetur magnam animi possimus natus quo neque nobis itaque eum
                  labore quod fugiat corrupti tenetur sint ab officiis laboriosam ad
                  odio?
                </p>
              </div>
              <div class="cartAmountPrice">
                <div>
                  <div class="cartAmount">
                    <button onclick="incrementValue()" data-qty="1">+</button>
                    <input
                      id="number"
                      data-qty="1"
                      type="number"
                      min="1"
                      value="1"
                      data-key="myInput1"
                      style="text-align: center"
                    />
                    <button onclick="decrementValue()" data-qty="1">-</button>
                  </div>
                  <div class="cartPrice">
                    <h4>$30.000</h4>
                  </div>
                </div>
                <div class="cartRemove">
                  <a href=""><h5>remove</h5></a>
                </div>
              </div>
            </div>
            <div class="cartProduct">
              <img src="/images/product.png" alt="" />
              <div class="cartProductDetail">
                <h3>TITLE</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos,
                  consectetur magnam animi possimus natus quo neque nobis itaque eum
                  labore quod fugiat corrupti tenetur sint ab officiis laboriosam ad
                  odio?
                </p>
              </div>
              <div class="cartAmountPrice">
                <div>
                  <div class="cartAmount">
                    <button onclick="incrementValue()" data-qty="1">+</button>
                    <input
                      id="number"
                      data-qty="1"
                      type="number"
                      min="1"
                      value="1"
                      data-key="myInput1"
                      style="text-align: center"
                    />
                    <button onclick="decrementValue()" data-qty="1">-</button>
                  </div>
                  <div class="cartPrice">
                    <h4>$30.000</h4>
                  </div>
                </div>
                <div class="cartRemove">
                  <a href=""><h5>remove</h5></a>
                </div>
              </div>
            </div>
            <div class="cartTotal">
              <div>Total</div>
              <div>$60.000</div>
            </div>
          </main>
          <footer class="background">
           
              <%- include('../partials/footer') %>
          </footer>
    </body>
</html>