<!--  Include de head -->
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div class="spans">
                    <span><i class="fa-solid fa-backward"></i>Volver</span>
                    <span>Productos</span>
                </div>
                <div class="main">
                    <div class="imagenproducto">
                        <img src="/images/products/neckpillow.webp" width="100%">
                    </div>
                    <div class="titulo">
                        <span>TRAVEL NECK PILLOW</span>
                    </div>
                    <div class="precio">
                        $16.500
                    </div>
                    <div class="opciones">
                        <select>
                            <option value>Elige una opción</option>
                            <option value="Amarillo">Amarillo</option>
                            <option value="Azul">Azul</option>
                            <option value="Roja">Roja</option>
                            <option value="Rosa">Rosa</option>
                        </select>
                    </div>
                    <div class="detalles">
                        <p>Detalles del producto</p>
                    </div>
                    <div class="detalles2">
                        <p>Diseñada para ofrecer la máxima comodidad y versatilidad, la almohada para el cuello de viaje
                            tiene un interior hecho con un núcleo de almohada de espuma y un acolchado acolchado. Es
                            fácilmente ajustable e incluye una cuerda principal que recorre todo el interior y cuerdas
                            elásticas en ambos lados para un ajuste de altura ideal. También se puede conectar a The
                            Travel Blanket a través de botones a presión.</p>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>


    </html>