<!--  Include de head -->
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <h1>Producto</h1>
                <h2>Edición</h2>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>