<header id="nobackround">
  <nav class="navbar">
    <div class="navbar-toggler">
      <a href=""><i class="icon fas fa-bars fa-2xl"></i></a>
    </div>
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="Logo" />
        <span class="fly">FLY</span><span class="feet">FEET</span>
      </a>
    </div>
    <div>
      <a href="/admin/products">Productos</a>
      <a href="/admin/users">Usuarios</a>
    </div>
    <div class="user">
      <a href="/users/profile" class="login">
        <img src="/images/user.png" alt="" />
        <span><%= user.first_name %></span>
      </a>
    </div>
  </nav>
</header>
