@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300&display=swap");

:root {
  --cadet-blue: #51a3a3ff;
  --eggplant: #75485eff;
  --persian-orange: #cb904dff;
  --arylide-yellow: #dfcc74ff;
  --yellow-green-crayola: #c3e991ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: "Libre Franklin", sans-serif;
}

body {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
}

/* Start Navbar styles */
nav.navbar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cadet-blue);
  color: white;
}

nav.navbar .brand {
  display: flex;
  padding: 5px;
}

nav.navbar .brand #brand-logo {
  width: 50px;
}

nav.navbar .navbar-toggler {
  display: flex;
  width: 160px;
}

nav.navbar #myLinks ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 65px;
}

nav.navbar #myLinks li {
  width: 100px;
}

nav.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px;
  text-decoration: none;
}

nav.navbar .user {
  display: flex;
  justify-content: flex-end;
  width: 160px;
  padding: 5px;
}

nav.navbar .user ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav.navbar .user li {
  display: flex;
  align-items: center;
}

nav.navbar .user i {
  font-size: 20px;
  margin: 6px;
}
/* End Navbar */

/* Start Main */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
}

section h1 {
  font-size: xx-large;
  text-align: center;
  justify-content: center;
  padding: 10px;
  width: 30%;
  display: flex;
  margin: auto;
}

main section {
  margin: 40px;
}

article.product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin: 0 0 10px 0;
  padding: 10px;
}

article.product a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}

article.product a header img {
  border-radius: 4px;
  padding: 10px;
}

article.product .title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

article.product .price {
  font-size: 18px;
}

/* End Main */

/*Start Footer*/

footer {
  bottom: 0;
  margin-top: auto;
}
footer .footer-navbar {
  padding: 10px;
  background-color: #eaeaea;
  margin-top: auto;
}

footer nav ul li {
  padding-left: 10px;
  display: flex;
}
.footer-navbar-items {
  padding: 10px;
  height: 100%;
}
.footer-div-links {
  display: flex;
  flex-wrap: wrap;
  background-color: #333333;
  font-weight: 300;
  color: #9e9e9e;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
}

#social-media {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

#social-media i {
  font-size: 24px;
}

#copyright {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* End Footer*/

/* Start Login & Register form*/
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 42px 20px;
  padding: 10px;
}

form .form-group label {
  display: block;
  width: 100%;
  text-align: left;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border: #cecdcd 1px solid;
}
form textarea {
  resize: none;
}
form div {
  margin-bottom: 10px;
  margin-top: 10px;
}
form button {
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
}

form ul.error {
  display: block;
  color: red;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

/* End Login & Register form*/

/* Start Cart*/
.cart-items {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: #000000 1px solid;
}
.product-description {
  margin-right: auto;
  width: 100%;
}
.product-price {
  font-weight: bold;
}
.quantity {
  display: flex;
  margin-left: 90px;
}
.quantity-price {
  display: flex;
}
.product {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product-unit {
  display: flex;
  width: 100%;
}
.product-subtotal {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* End Cart*/

/* Start Product */
.imagenproducto {
  width: 100%;
}

.main {
  margin: 40px;
}

.spans {
  display: flex;
  justify-content: space-between;
}

.titulo {
  margin: 3px;
  margin-top: 10px;
  font-weight: bold;
  font-size: x-large;
}

.precio {
  margin: 3px;
  font-size: larger;
}

.opciones {
  margin: 10px;
}

.detalles {
  margin: 3px;
  text-decoration: underline;
  font-size: larger;
}

.detalles2 {
  margin: 3px;
}

.imagenproducto {
  max-width: 750px;
}

/* Start Shopping Cart */

.footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #6cf;
}

/* .contenidoCarrito{
  position: relative;
  top: 99px;
} */

.botonCompra {
  text-align: center;
}

.botonCart {
  background-color: black;
  color: white;
}

.botonCart:hover {
  background-color: white;
  color: black;
}

.agregarProducto {
  display: flex;
  justify-content: space-evenly;
}

/* .compraInfo{
  position: relative;
  top: 100px;
} */

.nombreCart {
  text-decoration: underline;
  font-weight: bold;
}

/* End Shopping Cart */

/* Mobile only */

@media (max-width: 768px) {
  #myLinks {
    display: none;
  }

  #myLinks.active {
    display: block;
  }

  nav.navbar .user span.login {
    display: none;
  }
  footer {
    width: 100%;
    bottom: 0;
  }
}

/* Tablet layout */

@media (min-width: 426px) {
  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  article.product {
    width: 48%;
  }

  #social-media {
    width: 80%;
    margin-bottom: 10px;
    margin: auto;
  }
  footer {
    width: 100%;
    bottom: 0;
    margin-top: auto;
  }
}

/* Laptop layout */

@media (min-width: 769px) {
  nav.navbar .navbar-toggler {
    display: none;
  }
  nav.navbar .brand {
    width: 160px;
  }
  nav.navbar #myLinks ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    position: relative;
    top: 0;
  }
  nav.navbar #myLinks {
    display: block;
    flex-direction: row;
  }
  main {
    min-width: 768px;
    max-width: 75%;
    margin: auto;
  }
  article.product {
    width: 23%;
  }
  footer nav ul li {
    padding-left: 10px;
    display: block;
  }
  .footer-navbar {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    height: 200px;
  }
  .footer-navbar-items {
    width: 25%;
  }
  .footer-div-links {
    justify-content: space-between;
  }
  #social-media {
    width: 20%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font: 8px;
    margin-top: 0;
  }
  .footer {
    width: 100%;
    bottom: 0;
    margin-top: auto;
  }
}

/* Start Admin Site */

body.admin header .navbar {
  background-color: #1c1c1c;
}

body.admin main {
  margin-top: 24px;
  padding: 10px;
}

body.admin main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

body.admin main header .options button {
  background-color: #c3e991;
  width: 80px;
  border: solid 1px #dadada;
  border-radius: 10px;
  padding: 10px;
}

body.admin main header .options button:hover {
  background-color: #b1e66b;
  cursor: pointer;
}

body.admin main form .form-control {
  margin: 20px;
}

#remember-me {
  margin-right: 10px;
  vertical-align: middle;
}

/* Estilo para la etiqueta */
label[for="remember-me"] {
  font-size: 14px;
  vertical-align: middle;
}

body.admin main form .form-control img {
  width: 100%;
  border: solid 1px #d5d5d5;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

body.admin main form .form-control img:hover {
  opacity: 0.9;
}

body.admin main form button {
  cursor: pointer;
}

body.admin main form button:hover {
  font-weight: 500;
}

body.admin main form button.primary {
  color: #1c1c1c;
  background-color: #ffa000;
}
body.admin main form button.error {
  color: #333333;
  background-color: #ebebeb;
}

body.admin main header .options button:hover {
  background-color: #b1e66b;
  cursor: pointer;
}

body.admin main table {
  width: 100%;
  border-collapse: collapse;
}

body.admin main table th,
body.admin main table td {
  padding: 8px;
  border: 1px solid #dbdbdb;
}

body.admin main table .color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: #d6d6d6 solid 1px;
}

body.admin main table .options {
  display: flex;
  justify-content: space-around;
}

body.admin main table td.options i {
  font-size: 18px;
}

body.admin main .detail {
  display: flex;
  flex-direction: column;
}

body.admin main .detail .panel {
  padding: 10px;
}

body.admin main .detail .section {
  margin-bottom: 2px;
}

body.admin main .detail .section .color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: #d6d6d6 solid 1px;
}

/* Laptop layout */

@media (min-width: 769px) {
  body.admin main .detail {
    flex-direction: row;
  }

  body.admin main .detail .panel {
    width: 50%;
  }
}

/* End Admin Site */

/* Start Product detail */
body.product-detail main {
  margin-top: 24px;
  padding: 10px;
}

body.product-detail main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

body.product-detail main .detail {
  display: flex;
  flex-direction: column;
}

body.product-detail main .detail .panel {
  padding: 10px;
}
body.product-detail main .detail .panel img {
  max-width: 500px;
}

body.product-detail main .detail .section {
  margin-bottom: 2px;
}

body.product-detail main .detail .section .color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: #d6d6d6 solid 1px;
}

@media (min-width: 769px) {
  body.product-detail main .detail {
    flex-direction: row;
  }

  body.product-detail main .detail .panel {
    width: 50%;
  }
}
/* End Product detail */
