* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

/* Start Navbar styles */
nav.navbar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav.navbar .brand {
  padding: 5px;
}

nav.navbar .brand #brand-logo {
  width: 50px;
}

nav.navbar .brand {
  padding: 11.25px;
  margin-left: auto;
  margin-right: auto;
}

nav.navbar .navbar-toggler {
  margin-right: 46.5px;
  margin-left: 5px;
}
nav.navbar .user ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
nav.navbar .icons ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 65px;
  background-color: wheat;
}

nav.navbar #myLinks li {
  width: 100px;
}

nav.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px;
  text-decoration: none;
}

nav.navbar .user {
  padding: 5px;
}

nav.navbar .user i {
  font-size: 20px;
}
/* End Navbar */

/* Start Main */
.banner {
  background-color: #51a3a3ff;
  margin: auto;
  min-width: 230px;
  height: auto;
  min-height: 275px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  color: #c3e991ff;
}

section h1 {
  font-size: xx-large;
  text-align: center;
  justify-content: center;
  padding: 10px;
  width: 30%;
  display: flex;
  margin: auto;
}

main section {
  margin: 40px;
}

main section article {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 0 10px 0;
  padding: 10px;
}
/* End Main */

/*Start Footer*/
footer nav ul li{
  padding-left: 10px;
  display: none;
}
.footer-navbar-items{
  border: black solid 1px;
  padding: 10px;
  height: 100%;
  background-color: #cb904dff;
}
.footer-div-links{
  display: flex;
  flex-wrap: wrap;
  background-color: #dfcc74ff;
  padding: 10px;
}
#social-media{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
#copyright{
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/*Ënd Footer*/

/*Start Login & Register form*/
form{
  text-align: center;
  width: 80%;
  margin: auto;
}
form input{
  display: block;
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border: #cecdcd 1px solid;
}
form div{
  margin-bottom: 10px;
  margin-top: 10px;
}
form button{
  width: 100%;
  color: #ffffff ;
  background-color: #000000;
  padding: 10px 12px;
  border: none;
}

/*End Login & Register form*/


/*Tablet*/
@media (max-width: 768px) {
  #myLinks {
    display: none;
  }

  #myLinks.active {
    display: block;
  }
}


@media (min-width: 426px) {

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main section article {
    width: 48%;
  }
  #social-media{
    width: 80%;
    margin-bottom: 10px;
    margin: auto;
  }
}

/*Laptop*/
@media (min-width: 769px) {
  nav.navbar .navbar-toggler {
    display: none;
  }
  nav.navbar .icons ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    position: relative;
    top: 0;
    background-color: white;
  }
  nav.navbar #myLinks {
    display: block;
    flex-direction: row;
  }
  nav.navbar .brand{
    margin-left: 0;
    margin-right: 0;
  }
  main{
    min-width: 768px;
    max-width: 75%;
    margin: auto;
  }
  main section article {
    width: 23%;
  }
  footer nav ul li{
    padding-left: 10px;
    display: block;
  }
  .footer-navbar{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 180px;
    margin: auto;
  }
  .footer-navbar-items{
    width: 25%;
  }
  .footer-div-links{
    display: flex;
    justify-content: space-between;
    background-color: #dfcc74ff;
    padding: 10px;
  }
  #social-media{
    width: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  #copyright{
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0;
  }
}
