<!--  Include de head -->
<%- include("./partials/head.ejs") %>

    <body id="login">
        <%- include("./partials/header.ejs") %>
        <main>
            <div class="atributes">
              <div class="options">
                <img src="/images/security.png" alt="" />
                <div class="optionsContainer">
                  <h2>PAGÁ</h2>
                  <h2>ONLINE</h2>
                  <h4>Comprá seguro</h4>
                </div>
              </div>
              <div class="options">
                <img src="/images/truck.png" alt="" />
                <div class="optionsContainer">
                  <h2>ENVÍOS A</h2>
                  <h2>DOMICILIO</h2>
                  <h4>A todo el país</h4>
                </div>
              </div>
              <div class="options">
                <img src="/images/credit.png" alt="" />
                <div class="optionsContainer">
                  <h2>MEDIOS</h2>
                  <h2>DE PAGO</h2>
                  <h4>Pagá con tus</h4>
                  <h4>tarjetas o en efectivo</h4>
                </div>
              </div>
            </div>
            <div class="barra3">
            <p class="frase">
              >>> LLEVÁ LA EMOCIÓN DE VIAJAR CONTIGO A DONDE QUIERA QUE VAYAS <<<
            </div>
            </main>
          <footer class="background">

              <%- include('partials/footer') %>
          </footer>
    </body>

    </html>