<!--  Include de head -->
<%- include("./partials/head") %>

    <body>
        <main>
            <div class="error">
                <h1>Página no encontrada</h1>
                <p>La página solicitada no existe.</p>
                <br>
                <p>Navegá a la página principal haciendo click debajo.</p>
                <a href="/">Página principal</a>
            </div>
        </main>
    </body>

    </html>