<!--  Include de head -->
<%- include("../partials/head") %>

    <body class="admin">
        <%- include("./partials/header.ejs") %>
        <main>
            <h1>Consola de administrador</h1>
            <header>
                <h2>Crear Producto</h2>
            </header>
            <form action="/admin/products" method="POST" enctype="multipart/form-data">
                <div class="form-control">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="form-control">
                    <label for="description">Descripción:</label>
                    <textarea name="description" id="description" cols="30" rows="4"></textarea>
                </div>
                <div class="form-control">
                    <label for="price">Precio:</label>
                    <input type="number" name="price" id="price" min="0">
                </div>
                <div class="form-control">
                    <label for="image">Imagen:</label>
                    <input type="file" name="img" id="image">
                </div>
                <div class="form-control">
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </main>
    </body>

    </html>