<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="../css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd4aeec64b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-toggler">
                <a><i class="icon fas fa-bars fa-xl"></i></a>
            </div>
            <div class="brand">
                <a href="/#">
                    <img src="/images/logo.jpeg" alt="Logo" id="brand-logo">
                </a>
            </div>
            <div id="myLinks" class="icons">
                <ul>
                    <li>
                        <a href="/#">Categorias</a>
                    </li>
                    <li>
                        <a href="/#">Nuevo</a>
                    </li>
                    <li>
                        <a href="/#">Ofertas</a>
                    </li>
                </ul>
            </div>
            <div class="user">
                <ul>
                    <li>
                        <a href="/login">
                            <i class="fa-solid fa-circle-user"></i>
                        </a>
                        <span class="login">Ingresar</span>
                    </li>
                    <li>
                        <a href="/cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="nav">
            <i class="fa-duotone fa-backward"></i>
        </div>
        <img src="/images/products/HangingToiletryBag.webp" width="100%" alt="">
    </main>
    <footer>
        <nav class="footer-navbar">
            <ul class="footer-navbar-items">
                <h3>Nosotros</h3>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
            <ul class="footer-navbar-items">
                <h3>Ayuda</h3>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
            <ul class="footer-navbar-items">
                <h3>Locales</h3>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
            <ul class="footer-navbar-items">
                <h3>Servicios</h3>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
        </nav>
        <div class="footer-div-links">
            <div id="social-media">
                <a href=""><i class="fa-brands fa-pinterest"></i></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></i></a>
            </div>
            <div id="copyright">
                <span>© 2022 FlyFeet</span>
            </div>
        </div>
    </footer>
</body>

</html>