<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd4aeec64b.js" crossorigin="anonymous"></script>
    <script>
        function nav_toggler() {
            var navbarLinks = document.getElementById("myLinks");
            navbarLinks.classList.toggle("active");
        }
        </script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-toggler">
                <a href="javascript:void(0);" onclick="nav_toggler()"><i class="icon fas fa-bars fa-xl"></i></a>
            </div>
            <div class="brand">
                <a href="/#">
                    <img src="/images/logo.jpeg" alt="Logo" id="brand-logo">
                </a>
            </div>
            <div id="myLinks" class="icons">
                <ul>
                    <li>
                        <a href="/#">Categorias</a>
                    </li>
                    <li>
                        <a href="/#">Nuevo</a>
                    </li>
                    <li>
                        <a href="/#">Ofertas</a>
                    </li>
                </ul>
            </div>
            <div class="user">
                <ul>
                    <li>
                        <a href="/login">
                            <i class="fa-solid fa-circle-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="banner">
            <div class="banner-content">
                <h1>Banner</h1>
            </div>
        </div>
        <section>
            <h1>Title</h1>
            <div class="articles">
                <article>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis veritatis repudiandae vitae
                        ratione nam esse quidem labore impedit perspiciatis tenetur, sunt, molestias voluptatibus,
                        dolorum eius vero repellendus alias at aspernatur! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Suscipit, facere eveniet. Iure reprehenderit impedit nemo commodi. Accusantium
                        quas commodi minus blanditiis maxime, est cumque dignissimos sequi vitae perspiciatis nemo?
                        Blanditiis!</p>
                </article>
                <article>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis veritatis repudiandae vitae
                        ratione nam esse quidem labore impedit perspiciatis tenetur, sunt, molestias voluptatibus,
                        dolorum eius vero repellendus alias at aspernatur! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Suscipit, facere eveniet. Iure reprehenderit impedit nemo commodi. Accusantium
                        quas commodi minus blanditiis maxime, est cumque dignissimos sequi vitae perspiciatis nemo?
                        Blanditiis!</p>
                </article>
                <article>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis veritatis repudiandae vitae
                        ratione nam esse quidem labore impedit perspiciatis tenetur, sunt, molestias voluptatibus,
                        dolorum eius vero repellendus alias at aspernatur! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Suscipit, facere eveniet. Iure reprehenderit impedit nemo commodi. Accusantium
                        quas commodi minus blanditiis maxime, est cumque dignissimos sequi vitae perspiciatis nemo?
                        Blanditiis!</p>
                </article>
                <article>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis veritatis repudiandae vitae
                        ratione nam esse quidem labore impedit perspiciatis tenetur, sunt, molestias voluptatibus,
                        dolorum eius vero repellendus alias at aspernatur! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Suscipit, facere eveniet. Iure reprehenderit impedit nemo commodi. Accusantium
                        quas commodi minus blanditiis maxime, est cumque dignissimos sequi vitae perspiciatis nemo?
                        Blanditiis!</p>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <nav class="footer-navbar">
            <ul class="footer-navbar-items"><a href="#"><h3>Nosotros</h3></a>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
            <ul class="footer-navbar-items"><a href="#"><h3>Ayuda</h3></a>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
            <ul class="footer-navbar-items"><a href="#"><h3>Locales</h3></a>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
            <ul class="footer-navbar-items"><a href="#"><h3>Servicios</h3></a>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
            </ul>
        </nav>
        <div class="footer-div-links">
            <div id="social-media">
                <a href=""><i class="fa-brands fa-pinterest fa-xl"></i></i></a>
                <a href=""><i class="fa-brands fa-facebook fa-xl"></i></i></a>
                <a href=""><i class="fa-brands fa-instagram fa-xl"></i></i></a>
                <a href=""><i class="fa-brands fa-twitter fa-xl"></i></i></a>
                <a href=""><i class="fa-brands fa-youtube fa-xl"></i></i></a>
                <a href=""><i class="fa-brands fa-tiktok fa-xl"></i></i></a>
            </div>
            <div id="copyright">
                <i class="fa-regular fa-copyright fa-xl"></i><span> Copyright</span>
            </div>
        </div>
    </footer>
</body>

</html>