
<html>
<!--  Include de head -->
<%- include("./partials/head.ejs") %>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-toggler">
                <a><i class="icon fas fa-bars fa-xl"></i></a>
            </div>
            <div class="brand">
                <a href="/#">
                    <img src="/images/logo.png" alt="Logo" id="brand-logo">
                </a>
            </div>
            <div id="myLinks" class="icons">
                <ul>
                    <li>
                        <a href="/#">Categorias</a>
                    </li>
                    <li>
                        <a href="/#">Nuevo</a>
                    </li>
                    <li>
                        <a href="/#">Ofertas</a>
                    </li>
                </ul>
            </div>
            <div class="user">
                <ul>
                    <li>
                        <a href="/login">
                            <i class="fa-solid fa-circle-user"></i>
                        <span class="login">Ingresar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="banner">
            <div class="banner-content">
                <img src="/images/banner.webp" alt="" width="100%">
            </div>
        </div>
        <section>
            <h1>Ofertas</h1>
            <div class="articles">
                <article class="product">
                    <a href="/product">
                        <header>
                            <img src="/images/products/HangingToiletryBag.webp" alt="" width="100%">
                        </header>
                        <div class="info">
                            <div class="category">
                                Organizadores
                            </div>
                            <div class="title">
                                Hanging Toiletry Bag
                            </div>
                            <div class="price">
                                $ 22.500
                            </div>
                            <div class="review">
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="product">
                    <a href="/product">
                        <header>
                            <img src="/images/products/Duffle70L.webp" alt="" width="100%">
                        </header>
                        <div class="info">
                            <div class="category">
                                Bolsos
                            </div>
                            <div class="title">
                                F.A.R Duffle 70L
                            </div>
                            <div class="price">
                                $ 57.000
                            </div>
                            <div class="review">
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="product">
                    <a href="/product">
                        <header>
                            <img src="/images/products/Coast.webp" alt="" width="100%">
                        </header>
                        <div class="info">
                            <div class="category">
                                Maleta
                            </div>
                            <div class="title">
                                Carry-On
                            </div>
                            <div class="price">
                                $ 82.500
                            </div>
                            <div class="review">
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="product">
                    <a href="/product">
                        <header>
                            <img src="/images/products/NeckPillow.webp" alt="" width="100%">
                        </header>
                        <div class="info">
                            <div class="category">
                                Almohadas
                            </div>
                            <div class="title">
                                Travel Neck Pillow
                            </div>
                            <div class="price">
                                $ 16.500
                            </div>
                            <div class="review">
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <nav class="footer-navbar">
            <ul class="footer-navbar-items">
                <h3>Nosotros</h3>
                <li>Quiénes somos</li>
                <li>Contacto</li>
                <li>Sumate con nosotros</li>
            </ul>
            <ul class="footer-navbar-items">
                <h3>Ayuda</h3>
                <li>Preguntas frecuentes</li>
                <li>Dejá tu consulta</li>
            </ul>
            <ul class="footer-navbar-items">
                <h3>Locales</h3>
                <li>Santa Fe</li>
                <li>Buenos Aires</li>
                <li>Corrientes</li>
                <li>Córdoba</li>
                <li>Río Negro</li>
            </ul>
            <ul class="footer-navbar-items">
                <h3>Servicios</h3>
                <li>Empresas</li>
                <li>Mayoristas</li>
            </ul>
        </nav>
        <div class="footer-div-links">
            <div id="social-media">
                <a href=""><i class="fa-brands fa-pinterest"></i></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></i></a>
            </div>
            <div id="copyright">
                <span>© 2022 FlyFeet</span>
            </div>
        </div>
    </footer>
</body>

</html>