<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de login</title>
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd4aeec64b.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <form action="login.html" method="post">
            <div><h4>Entrar con Email y Contraseña</h4></div>
            <div>
                <label for="form-user-email"></label>
                <input type="text" name="email" placeholder="Ej.: ejemplo@mail.com">
                <span class="feedback"></span>
            </div>
            <div>
                <label for="form-user-password"></label>
                <input type="password" name="password" id="form-user-password" placeholder="Ingrese su contraseña">
                <span class="feedback"></span>
            </div>
            <div><a href="">Olvide mi contraseña</a></div>
            <div>
                <button type="submit">Enviar</button>
            </div>
            <div><a href="/register">¿No tiene una cuenta? Registrese</a></div>
        </form>
    </main>
</body>
</html>