<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd4aeec64b.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <form action="/register" method="post">
            <div><h4>Regsitro</h4></div>
            <div>
                <label for="form-user-email"></label>
                <input type="text" name="email" placeholder="Correo electronico">
                <span class="feedback"></span>
            </div>
            <div>
                <label for="form-user-password"></label>
                <input type="password" name="password" id="form-user-password" placeholder="Contraseña">
                <span class="feedback"></span>
            </div>
            <div>
                <label for="form-user-passwordmatch"></label>
                <input type="password" name="password-match" id="form-user-passwordmatch" placeholder="Confirmar Contraseña">
                <span class="feedback"></span>
            </div>
            <div>
                <button type="submit">Crear</button>
            </div>
        </form>
    </main>
</body>
</html>